*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/drools-kie-ci-example/my-first-drools-kjar/target/
/drools-kie-ci-example/drools-kjar-ci-test/target/